*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 0;
	margin: 0;
}

.container {
    background-color: rgb(77, 103, 176);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    padding: 35px;
    background: rgb(39, 54, 96);
    border-radius: 30px;
    width: 400px;
}

p{
    padding: 5px;
}

input{
    width: 80%;
	margin: 0 auto;
	padding: 5px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
}

button{
    padding: 10px;
	width: 50%;
	margin: 0 auto;
	border-radius: 50px;
	border: none;
    margin-top: 5px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, rgb(0, 145, 255), rgb(0, 0, 113));
	cursor: pointer;
}